/* Regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: aquamarine;
    font-family: 'Inter Tight', sans-serif;
}
/* Regole container e logo */
#container{
    padding-bottom: 15px;
    background-color: white;
}
#container #logo {
    vertical-align: bottom;
   }
   #logo{
    padding-left: 10px;
   }
   /* Regole titolo */
#title {
     display: inline-block;
    font-size: 45px;
    vertical-align: bottom;
}
/* Regole Barra */
#container-1{
    width: 70%;
    border-radius: 5px;;
    margin: auto;
    margin-top: 55px;
    background-color: white;
    height: 55px;
}
/* Stile button */
.task {
    margin-left: 50px;
    border: none;
    height: 30px;
    width: 65px;
    background-color: blue;
    color: white;
    border: none;
    
}
.section {
    height: 30px;
    width: 98px;
    background-color: white;
    color: aquamarine;
    border: lightgrey solid 2px;
    
}
.add {
    
    margin-top: 15px;
    border-radius: 5px;
    font-weight: bold;
}
/* tile todolist */
#container-2 {
  
    background-color: white;
    border-radius: 5px;
    width: 70%;
    height: 450px;
    margin: auto;
 
    margin-top: 1px;
}
.list {
    margin-top: 20px;
     display: inline-block;
}
.list , .task-2{
    margin-left: 50px;
}
#check{
    width: 24px;

}
.to-do {
    display: inline-block;
    vertical-align: super;
}
label{

}